body {
    font-family:'Segoe UI', Tahoma, sans-serif;
    background-color: #f7d2aa
}
p {
    color: navy;
}

/* The background color is extending across the page,
    so I have commented it out for now. */
h1,h2,h3,h4,h5,h6 {
    font-family:Helvetica,Arial,sans-serif;
    font-variant: small-caps;
}
h1 {
    font-size: 10pt;
}
figcaption {
    color: #033918;
    font-weight: bold;
    background-color: #AAEEFF;
    display:inline;
}
.sale {
    font-weight: bold;
    background-color: #AAEEFF;
}
.leftindent{
    /*text-indent: Sem;*/
    padding-left: Sem;
}
#sidenote {
    background-color: #DDDDDD;
    display:inline;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Palatino Linotype','Times New Roman', serif;
}